.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height:20vh;  
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 20px 20px 0;
  width: 120px; 
}

.title {
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 725px;
}

