[data-theme='compact'] .site-collapse-custom-collapse .site-collapse-custom-panel,
.site-collapse-custom-collapse .site-collapse-custom-panel {
  margin-bottom: 24px;
  overflow: hidden;
  background: #f7f7f7;
  border: 0px;
  border-radius: 2px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height:30vh;  
  }

  .rowC{display:flex; flex-direction:row;}

  .row {
    display: flex;
    height: 100%;
}

.left-panel {
  flex: 5;
}
.right-panel {
  flex: 5;
}

  